/*
    1. Default (line 18)
    2. Sub Header (line 70) 
    3. Main header (line 190)
    4. Modal ( line 325 )
    5. Slider (line 452)
    6. Aside (line 615)
    7. Page-info (line 699)
    8. Products (line 786)
    9. Footer (line 946)
    
*/


/*=============================
         - Default -
===============================*/

*{
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    margin: 0;
    padding: 0;
}

html{
    position: relative;
}

.wrapper{
    min-height: 100%;

    display: flex;
    flex-direction: column;
}

.content-padding{
    padding: 0 120px;
}

.main{
    flex: 1 0 auto;
    
    padding-top: 130px;
}


ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    position: fixed;
    z-index: 1;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

/*=============================
         - Sub Header -
===============================*/
.sub-header{
    height: 30px;

    background-color: #000;
    color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-header__contact{
    font-size: 11px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "Arial";
    text-transform: uppercase;

}

.sub-header__tel{
    text-decoration: none;
    font-style: 12px;
    color: #fff;
}

.sub-header__accout-settings{
    width: 200px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.currency-select{
    margin-right: auto;

    background: #000;
    color: #fff;
    border: none;
}

.sub-header__account{
    font-size: 11px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "Arial";
    text-transform: uppercase;
    
    position: relative;
}

.sub-header__account .account__list{
    display: none;
    position: absolute;
    top: 100%;
}

.sub-header__account:hover > .account__list{
    display:inherit;
}

.sub-header__account .account__list .account__item {
    float:none;
    display:list-item;
    position: relative;
}

.account__icon{
    margin-right: 10px;
}

.account__list{
    margin: 0;
    padding: 0;
    width: 150px;
    
    list-style: none;
    background-color: #000;
}

.account__item{
    padding: 5px 0 5px 5px;
}


.account__item:not(:last-child){
    margin-bottom: 5px;
}

.account__item:last-child{
    padding-top: 3px;
    border-top: 1px solid #c2c2c2;
}

.account__item:first-child{
    margin-top: 10px;
}

.account__item:hover{
    background-color: #fff;
}

.account__item:last-child:hover{
    background-color: #c2c2c2;
}

.account__item:hover > .account__link{
    color: #000;
}

.account__link{
    text-decoration: none;
    color: #fff;
}

/*=============================
         - Main Header -
===============================*/

.main-header{
    height: 100px;

    background: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-btn{
    margin-left: 15px;

    background: transparent;
    border: none;
    
    display: none;
}

.menu-btn__icon{
    font-size: 32px;
}

.logo-img{
    max-width: 200px;
    margin-right: auto;
}

.nav-menu__list{
   width: 500px;
   margin-right: 75px;

   display: flex;
   justify-content: space-between;
}

.nav-menu__item{
    margin: 0;

    font-size: 16px;
    letter-spacing: 0px;
    color: #000000;
    font-family: "Arial";
    
    position: relative; 
}

.nav-menu__item-text{
    display: flex;
    align-items: center;
}

.nav-menu__icon{
    margin-left: 10px;
}

.nav-menu__item:hover > .nav-menu__sub-list{
    display: inherit;
}

.nav-menu__sub-list{
    width: 100%;

    background: #fff;

    display: none;
    position: absolute;
    top: 100%;
}

.nav-menu__sub-item{
    width: 100%;
    padding: 2px 0 2px 5px;

    border: 1px solid #c2c2c2;
    border-top: none; 

    float:none;
    display:list-item;
    position: relative;
}

.nav-menu__sub-item:hover{
    background: #c2c2c2;
}

.nav-menu__sub-item:hover > .nav-menu__link{
    color: #fff;
}

.nav-menu__link{
    text-decoration: none;
    color: #000;
}

.cart__link:hover{
    opacity: .5;
}

.cart__link{
    background: transparent;
    border: none;
    color: #000;

    display: flex;
    align-items: center;
}

.cart__amount{
    margin: 0 10px 0 10px;
    padding-right: 10px;
    border-right: 1px solid #c2c2c2;
}

.cart__modal {
    display: none; 
    position: fixed; 
    z-index: 5; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/*=============================
         - Modal -
===============================*/

.modal__content {
    position: relative;
    background-color: #fff;
    margin: auto;
    padding: 0;
    border: 5px solid #c5c5c5;
    width: 50%;
    height: 75%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;

}


@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1;}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


.modal__close {
    color: white;
    float: right;
    font-size: 36px;
    font-weight: bold;
}

.modal__close:hover,
.modal__close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal__header {
    padding: 2px 16px;
    background-color: #d3d3d3;
    color: #000;
}

.modal__wrapper{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: stretch;
}


.modal__body {
    padding: 15px 16px;
    padding-bottom: 50px;
    color: #8d8d8d;
    overflow: scroll;

    flex-grow: 1;
}

.modal__footer {
    height: 70px;
    padding: 5px 16px;
    background-color: #fff;
    color: #000;
    transform: translateY(-100%);
    border: 1px solid #c5c5c5;

    flex-shrink: 0;
}

.cartItem{
    display: flex;
    justify-content: stretch;
    align-items: center;
    margin-bottom: 10px;
}

.cartItem__img--wrapper{
    width: 70px;
    height: 70px;
    overflow: hidden;
    margin-right: 10px;
}
.cartItem__img{
    width: 100%;
    transform: scale(3);
    /* height: 100%; */
}

.cartItem__name{
    cursor: pointer;
    font-size: 32px;
    color: #8d8d8d;
    flex: 1 0 auto;
}

.cartItem__name:hover{
    color: #5e5e5e;
}

.cartItem__amount-bar{
    margin-right: 25px;
    color: #000;
}

.cartItem__price{
    color: #000;
}

.cartItem__close{
    margin-left: 5px;
    background: transparent;
    border: none;
    font-size: 24px;
}


/*=============================
         - Slider -
===============================*/
.path{
    margin: 0;
    padding: 0;
    height: 30px;

    font-size: 11px;
    letter-spacing: 0px;
    font-family: "Arial";
    color: #7a706d;
    display: flex;
    align-items: center;
}

.path__link{
    color: #7a706d;
}

.path__icon{
    font-size: 15px;
    color: #7a706d;
}

.slider{
    height: 435px;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;

    border-bottom: 1px solid #c2c2c2;    
    border-top: 1px solid #c2c2c2; 
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img--container{
    height: 435px;
    overflow: hidden;
}

.slider__img{
    margin-top: 20px;
    max-height: 550px;
}

.slider__info{
    width: 320px;
    height: 100%;
}

.slider__title{
    margin: 0;
    margin-top: 75px;

    font-size: 24px;
    letter-spacing: -1px;
    color: #4a4a4a;
    font-family: "Arial";
    font-weight: 500;
    text-transform: capitalize;
}

.slider__price{
    margin-top: 20px;

    font-size: 36px;
    letter-spacing: -1px;
    color: #fd926d;
    font-family: "Arial";
    font-weight: bold;

    display: block;
}

.slider__descr{
    margin: 0;
    margin-top: 25px;

    font-size: 12px;
    line-height: 18px;
    color: #8f8f8f;
    font-family: "Arial";
}

.slider__btn{
    margin: 0;
    margin-top: 30px;
    padding: 0 10px;
    width: 157px;
    height: 47px;
    cursor: pointer;

    border: none;
    box-shadow: 0px 3px 0px #dd6b44;
    background-color: #fd916d;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 30px;
    font-family: "Helvetica Neue LT Std", "Arial", sans-serif;

    display: flex;
    align-items: center;
    justify-content: space-around;

    transition: transform .2s ease-in-out;
}

.slider__btn:hover{
    transform: scale(1.1);
}

.slider__arrow{
    font-size: 48px;
    opacity: .2;

    transition: transform .2s ease-in;

}

.slider__arrow:hover{
    transform: scale(1.3);
    opacity: .5;
}

.slider__left, .slider__right{
    cursor: pointer;
    background: transparent;
    border: none;
}

.slider-navigation{
    height: 50px;
    width: 140px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dot{
    height: 10px;
    width: 10px;

    background: #867A76;
    border-radius: 50%;
}


.dot.active{
    background: #FD916D;
}

.dot:hover{
    background: rgb(209, 209, 209);
}

/*=============================
         - Aside -
===============================*/
.content{
    display: block;
}

.side-bar{
    width: 230px;
    min-height: 100%;
    margin-left: 20px;

    float: right;
}

.side-bar__block:not(:first-child){
    margin-top: 20px;
}

.block__title{
    margin: 0;
    padding: 10px 0 10px 10px;

    background: #000;
    color: #fff;
    font-size: 12px;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-family: "Arial";
}

.block__item{
    padding: 10px 0;

    border-bottom: 1px solid #c2c2c2;
}

.block__item:hover{
    background: #f2f2f2;
}

.block__link{
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
}

.block-item__img--container{
    width: 70px;
    height: 100px;

    overflow: hidden;
}

.block-item__img{
    margin-left: -10px;
}

.block-item__descr{
    margin-left: 10px;
}

.block-item__title{
    margin: 0;

    font-size: 12px;
    letter-spacing: 0px;
    color: #5e5e5e;
    font-family: "Arial";
    text-transform: uppercase;
}

.block-item__price{
    margin-top: 10px;

    font-size: 16px;
    letter-spacing: 0px;
    color: #fd926d;
    font-family: "Arial";
    font-weight: bold;

    display: block;
}

/*=============================
         - Page info -
===============================*/
.page-info{
    height: 60px;
    padding-bottom: 10px;

    border-bottom: 1px solid #c2c2c2;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.sort{
    font-size: 11px;
    letter-spacing: 0px;
    color: #4d4d4d;
    font-family: "Arial";
}

.sort__select{
    width: 100px;
    height: 30px;
    padding-left: 10px;

    border: none;
    font-size: 11px;
    letter-spacing: 0px;
    color: #4d4d4d;
    font-family: "Arial";
    background: #F4F4F4;

    position: relative;
}

.sort__select:hover, .sort__select:active{
    background: #e5e5e5;
}

.pages{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.pages__btns{
    margin-left: 20px;

    display: flex;
    align-items: center;
}

.pages__btn{
    height: 30px;
    width: 30px;
    margin-left: 5px;

    background: #F4F4F4;
    border: none;
    font-size: 11px;
    letter-spacing: 0px;
    color: #4d4d4d;
    font-family: "Arial";

    display: flex;
    align-items: center;
    justify-content: center;
}

.pages__btn.active{
    background: #E5E5E5;
}

.pages__btn:hover{
    background: #c2c2c2;
}

.page-info--bottom{
    height: 90px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/*=============================
         - Products -
===============================*/

.products{
    padding-top: 10px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 2vw;
}

.product{
    height: 410px;

    font-size: 5vw;
    background: #F9F5F4;
    text-align: center;
}

.product__link{
    text-decoration: none;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product:hover{
    background: rgb(231, 227, 226)
}

.product:hover .product__img--wrapper::after{
    opacity: .1;
}

.product__img--wrapper{
    height: 290px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.product__img--wrapper:after{
    content: '';
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;

    position: absolute;
    left: 0;
    top: 0;
}

.product__img{
    max-width: 120%;
    margin-left: -10%;
    margin-top: -4px;
}

.product__title{
    margin: 0;
    margin-top: 10px;

    font-size: 12px;
    letter-spacing: 0px;
    color: #373737;
    font-family: "Arial";
    text-align: center;
    text-transform: uppercase;
}

.product__price{
    margin-top: 10px;

    font-size: 22px;
    letter-spacing: 0px;
    color: #373737;
    font-family: "Arial";
    text-align: center;

    display: block;
}

.product__btn{
    margin-top: 10px;
    padding: 0;
    width: 135px;
    height: 35px;

    cursor: pointer;
    box-shadow: 0px 3px 0px #dd6b44;
    background-color: #fd916d;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform .1s linear;

}

.product__btn:hover{
    transform: scale(1.1);
}

.product__btn-icon{
    margin-left: 2px;
    font-size: 18px
}

.print-text{
    margin-top: 10px;

    font-size: 12px;
    letter-spacing: 0px;
    color: #373737;
    font-family: "Arial";

    display: none;
}

.underline{
    text-decoration: underline;
}

@media print {
    .product__btn{
        display: none;
    }

    .print-text{
        display: inline-block;
    }

}


.product__price[data-descr]{
    position: relative;
}

.product__price[data-descr]::after{
    content: attr(data-descr);

    color: red;
    font-size: 0.6em;
    text-decoration: line-through;

    position: absolute;
    right: -5px;
    top: 0;
    transform: translateX(100%);
}

/*=============================
         - Footer -
===============================*/

.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* Stick to bottom */
    flex: 0 0 auto;
}

.footer__pay-systems{
    height: 60px;
    margin: 0;

    background-color: #F7F7F7;
    color: #414141;
    letter-spacing: 0;
    font-size: 12px;
    font-family: "Arial", sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

.pay-systems{
    margin-left: 20px;
    width: 430px;

    display: flex;
    justify-content: space-between;
}

.footer__menu{
    height: 200px;

    background-color: #EDEDED;
}

.footer__menu-list{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
    list-style: none;

    display: flex;
    justify-content: space-between;

}

.menu__item{
    margin-top: 30px;

    color: #544f4d;
    font-family: "Arial", sans-serif;

    display: inline-block;
}

.menu__item-header{
    margin: 0;
    padding: 0;
    padding-bottom: 10px;

    text-align-last: left;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 20px;
    font-weight: bold;
}

.menu__item-list{
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.menu__item-link{
    text-decoration: none;
    font-size: 12px;
    line-height: 18px;
    color: #544f4d;
    font-family: "Arial";
}

.menu__item-link:hover{
    color: #000;
}

.menu__item-list--socials{
    width: 140px;

    display: flex;
    flex-wrap: wrap;
}

.menu__item-elem--socials{
    margin-right: 10px;
    margin-bottom: 10px;

    display: inline-block;
}

.menu__item-elem--socials:hover{
    opacity: .8;
}

.footer__contacts{
    height: 70px;
    margin: 0;

    background-color: #000;
    color: #8d8d8d;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
    height: 100%;
}

.nav__list{
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
}

.nav__item:not(:last-child){
    margin-right: 10px;

    border-right: 1px solid #8d8d8d;
}

.nav__item{
    padding-right: 10px;
    
    display: inline-block;
}

.nav__link{
    text-decoration: none;
    
    font-family: "Arial", sans-serif;
    font-size: 11px;
    color: #8d8d8d;
    line-height: 20px;
}

.nav__link:hover{
    color: #fff;
}

.footer__rights{
    text-align: right;
    line-height: 18px;
    font-size: 11px;
}

.social-img{
    width: 35px;
    height: 35px;
}